{% extends "internal/base.html" %}
{% block page_content %}
    <h2>Devices</h2>
    <br>
    <a type="button" class="btn btn-primary" href="{{ url_for('.add_new_device') }}">
        Add New Device
    </a>
    <br>
    <br>
    {% if devices %}
        <table class="table table-condensed table-striped">
            <tr>
                <th>Devices</th>
                <th>Location</th>
                <th>Status</th>
                <th>Vendor</th>
            </tr>
            {% for room in rooms %}
                {% for device in devices %}
                    {% if room.room_id == device['room_id'] %}
                        <tr>
                            <td>{{device.name}}</td>
                            <td>{{room.name}}</td>
                            <td>{device.faulty}}</td>
                            <td>{{device.vendor}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% for device in devices %}
                {% if device['room_id'] == None %}
                    <tr>
                        <td>{{device.name}}</td>
                        <td></td>
                        <td>{device.faulty}}</td>
                        <td>{{device.vendor}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% else %}
    <h1>No data to show!</h1>
    {% endif %}

<!-- TODO: add links to the table -->

{% endblock %}
