{% extends "base.html" %}
{% block page_content %}
    <h1>Welcome!</h1>

<ul class="nav nav-pills">
        <li role="presentation"><a href="{{ url_for('.admin') }}">List of Users</a></li>
        <li role="presentation" class="active"><a href="#">Map</a></li>
        <li role="presentation"><a href="{{ url_for('.admin_faulty_devices') }}">Faulty devices</a></li>
    </ul>

<br>
    {% if house_location %}
        <style>
            #map {
                height: 400px;
                width: 100%;
            }
        </style>


        <div id="map"></div>
        <script>

                function initMap() {
                    var uluru = {lat: 54.503595, lng: -4.229679};
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 4,
                        center: uluru
                    });
                    var marker_list = [];
                    {% for house in house_location %}
                        marker_list.push(new google.maps.Marker({
                            position: {{ house|tojson|safe }},
                            map: map
                        }));
                    {% endfor %}
                }

        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhzb5iJ4fJUdLDQKt_SgCSP5_Z2eXhH5k&callback=initMap">
        </script>

    {% endif %}
{% endblock %}