{% extends "base.html" %}
{% block page_content %}
    <h1>Welcome!</h1>

    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Map</a></li>


        <li role="presentation"><a href="#">List of Users</a></li>
    </ul>
    {% if users %}
        {% for user in users %}
            <div class="col-md-6">
                <h3>Users</h3>
                <table class="table table-striped">
                    <tr>
                        <th>User ID</th>
                        <th>User Name</th>
                        <th>User Contact details</th>
                        <th>Device Status</th>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('.index') }}">{user["user_id"]}</a></td>
                        <td>
                            {dev["Property"]} <span
                                class="text-info">{user["user_first_name"]} {user["user_last_name"]}</span>
                        </td>
                        <td>
                            {dev["Property"]} <span class="text-info">{user["user_email_address"]}</span>
                        </td>
                        <td>
                            {dev["Property"]} <span class="text-info">{user["user_device_status"]}</span>
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    {% else %}
    {% endif %}
{% endblock %}