{% extends "base.html" %}
{% block page_content %}
    <h1> {% if admin %} User: {{ user_name }} {% else %}Welcome!{% endif %}</h1>
    <br>

    <ul class="nav nav-pills">
       <li role="presentation" class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="True"
               aria-expanded="False">
                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Room
            </a>
            <ul class="dropdown-menu">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Room Name" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2"> <span
                            class="glyphicon glyphicon-plus"></span></span>
                </div>
            </ul>
       </li>

        <li role="presentation" class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="True"
               aria-expanded="False">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove Room
            </a>
            <ul class="dropdown-menu">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Room Name" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2"> <span
                            class="glyphicon glyphicon-minus"></span></span>
                </div>
            </ul>
        </li>
      <li role="presentation" class="active"><a href="{{ url_for('.devices') }}">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> View Devices</a></li>
    </ul>


    <br>
    <br>

{% if rooms %}

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Rooms</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td><a href="{{ url_for('.room_view', room_id=room.room_id) }}">{{room.name}}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}
  <h1>No data to show!</h1>
{% endif %}

{% endblock %}