{% extends "base.html" %}
{%block page_content %}
<h1> Home Actions </h1>
<h5>This page allows the user to manage the conditions of the chosen room. </h5>
<ul>
</ul>
<p>
	<button type="button" class="btn btn-primary btn-lg"> Set Temperature </button>
</p>
<p> change temperature to desigered while current shows </p>
<ul>
</ul>
<h3> Triggers for the chosen room</h3>
    This allows user to configure actions to be triggered automatically.
<ul>
</ul>

    <p> User can select from the following list:</p>
      <ol>
    <li><a href="Triggers.html"> Trigger1</a></li>
          <li><a href="Triggers.html" >Trigger2</a></li>
               <li><a href="Triggers.html" >Trigger3</a></li>
                      <li><a href="Triggers.html" >Trigger4</a></li>
</ol>

    <p> when trigger is detected:</p>
<select class="selectpicker">
	<option>Power On</option>
	<option>Power Off </option>
	<option>No Action</option>
	<option>Set Temperature</option>
</select>
    <ul>
    </ul>
<p> when trigger is not detected:</p>
<select class="selectpicker">
	<option>Power On</option>
	<option>Power Off </option>
	<option>No Action</option>
	<option>Set Temperature</option>
</select>
    <ul>

    </ul>
<p> When?</p><div class="radio">
	<label><input type="radio" name="optradio">Always </label>
</div>
<div class="radio">
	<label><input type="radio" name="optradio">Between the following times</label>
</div>
<div class="overflowchat-setting">
    <div>

       <div class="btn-group">
      </ul>
   </div>
 </div>

<div>
   <label>From: </label>
   <div>
     <div class="input-group bootstrap-timepicker timepicker">
        <input id="timepicker1" type="text" class="form-control input-small">
        <span class="fa fa-clock-o"></span>
     </div>
    <div class="btn-group">
     </div>
 </div>
</div>

<div>
<label>To: </label>
<div>
   <div class="input-group bootstrap-timepicker timepicker">
        <input id="timepicker2" type="text" class="form-control input-small">
        <span class="fa fa-clock-o"></span>
    </div>
   <div class="btn-group">
       <ul class="dropdown-menu">
    </div>
</div>
</div>

{%endblock%}