{% extends "base.html" %}
{% block page_content %}
    <h1> Kitchen </h1>
    <br>

    <ul class="nav nav-pills">
        <li role="presentation" class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="True"
               aria-expanded="False">
                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Link Device to Room
            </a>
            <ul class="dropdown-menu">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Room Name" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2"> <span
                            class="glyphicon glyphicon-plus"></span></span>
                </div>
            </ul>
        </li>

        <li role="presentation" class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="True"
               aria-expanded="False">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Unlink Device
            </a>
            <ul class="dropdown-menu">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Room Name" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2"> <span
                            class="glyphicon glyphicon-minus"></span></span>
                </div>
            </ul>
        </li>
        <li role="presentation" class="active"><a href="{{ url_for('.devices') }}">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Manage Devices</a></li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Thermostats</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Temperature</th>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('.device_actions') }}">Thermostat</a></td>
                        <td>24&#8451;</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h3>Door &amp; window sensors</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('.device_actions') }}">South Window</a></td>
                        <td>Closed</td>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('.device_actions') }}">East Window</a></td>
                        <td>Closed</td>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('.device_actions') }}">Door</a></td>
                        <td>Open</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h3>Light switches</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Current state</th>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('.device_actions') }}">A</a></td>
                        <td>On</td>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('.device_actions') }}">B</a></td>
                        <td>On</td>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('.device_actions') }}">C</a></td>
                        <td>Off</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h3>Motion sensors</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Last movement</th>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('.device_actions') }}">A</a></td>
                        <td>
                            4:20pm <span class="text-info">(2 hours ago)</span>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('.device_actions') }}">B</a></td>
                        <td>
                            2:04pm <span class="text-info">(4 hours ago)</span>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('.device_actions') }}">C</a></td>
                        <td>
                            12:42pm <span class="text-info">(6 hours ago)</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
