{% extends "base.html" %}
{% block page_content %}
    <h1> {{ room.name }} </h1>
    <br>

    <ul class="nav nav-pills">
        <li role="presentation" class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="True"
               aria-expanded="False">
                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Link Device to Room
            </a>
            {% if unlinked_devices %}
                <ul class="dropdown-menu" role="menu">
                    {% for dev in unlinked_devices %}
                        <li>
                            <a href="{{ url_for('.link_device_to_room', room_id=room.room_id, device_id=dev.device_id) }}"
                               data-toggle="modal">{{ dev['name'] }} </a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-toggle="modal"> No unlinked devies</a></li>
                </ul>
            {% endif %}
        </li>
        <li role="presentation" class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="True"
               aria-expanded="False">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Unlink Device
            </a>
            {% if linked_devices %}
                <ul class="dropdown-menu" role="menu">
                    {% for subdev in linked_devices %}
                        {% for dev in subdev %}
                            <li><a href="#" data-toggle="modal">{{ dev['Name'] }} </a></li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% else %}
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-toggle="modal"> No linked devies</a></li>
                </ul>
            {% endif %}
        </li>
        <li role="presentation" class="active"><a href="{{ url_for('.show_devices') }}">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Manage Devices</a></li>
    </ul>


    <div class="container">
        <div class="row">
            {% if thermostats %}
                <div class="col-md-6">
                    <h3>Thermostat</h3>
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Temperature</th>
                        </tr>
                        {% for dev in thermostats %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('.show_device', device_id=dev.device_id) }}">{{ dev["name"] }}</a>
                                </td>
                                <td>
                                    {% if dev.last_read and dev.last_read.data %}
                                        {{ dev.last_read.data.temperature }}℃
                                    {% else %}
                                        <i>no data</i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}

            {% if door_sensors %}
                <div class="col-md-6">
                    <h3>Door &amp; window sensors</h3>
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                        </tr>
                        {% for dev in motion_sensors %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('.show_device', device_id=dev.device_id) }}">{{ dev["name"] }}</a>
                                </td>
                                <td>{{ dev["Property"] }}</td>
                            </tr>
                            <tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}

            {% if light_switches %}
                <div class="col-md-6">
                    <h3>Light switches</h3>
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Current state</th>
                        </tr>
                        {% for dev in light_switches %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('.show_device', device_id=dev.device_id) }}">{{ dev["name"] }}</a>
                                </td>
                                <td>{{ dev["Property"] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}

            {% if motion_sensors %}
                <div class="col-md-6">
                    <h3>Motion sensors</h3>
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Last movement</th>
                        </tr>
                        {% for dev in motion_sensors %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('.show_device', device_id=dev.device_id) }}">{{ dev["name"] }}</a>
                                </td>
                                <td>
                                    {{ dev["Property"] }} <span class="text-info">(2 hours ago)</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
            {% endif %}

        </div>
    </div>
{% endblock %}
