{% extends "base.html" %}
{% block page_content %}
    <h1> This page describes trigger and action</h1>
    <p> when trigger is detected:</p>
    <select class="selectpicker">
        <option>Power On</option>
        <option>Power Off</option>
        <option>No Action</option>
        <option>Set Temperature</option>
    </select>
    <ul>
    </ul>
    <p> when trigger is not detected:</p>
    <select class="selectpicker">
        <option>Power On</option>
        <option>Power Off</option>
        <option>No Action</option>
        <option>Set Temperature</option>
    </select>
    <ul>

    </ul>
    <p> When?</p>
    <div class="radio">
        <label><input type="radio" name="optradio">Always </label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio">Between the following times</label>
    </div>

{% endblock %}
