{% extends "internal/devices/device.html" %}
{% block device_type %}light switch{% endblock %}

{% block device_status %}
    <ul>
        <li>
            <b>Last reading: </b>
            {% if device.status.last_read and device.status.last_read.timestamp %}
                {{ device.status.last_read.timestamp|timestamp_to_str }}
            {% else %}
                <i>Not available</i>
            {% endif %}
        </li>
        <li>
            <b>State: </b>
            {% if device.status.last_read and device.status.last_read.data %}
                {% if device.status.last_read.data.power_state %}
                    On
                {% else %}
                    Off
                {% endif %}
            {% else %}
                <i>Not available</i>
            {% endif %}
        </li>
        <li>
            <b>Voltage: </b>
            {% if device.status.last_read and device.status.last_read.data and device.status.last_read.data.voltage %}
                {{ device.status.last_read.data.voltage }}V
            {% else %}
                <i>Not available</i>
            {% endif %}
        </li>
    </ul>
{% endblock %}